.mypage__tab {
	position: relative;
	padding: 60px 0;
	width: 100%;
	height: 280px;
	background: rgb(0,32,83);
	box-sizing: border-box;
	margin-top: 120px;
}
.mypage__tab .inner {
	display: flex;
	justify-content: space-between;
	max-width: 1660px;
	width: 100%;
	padding: 0 30px;
	margin: 0 auto;
	box-sizing: border-box;
}
.my-info-box {
	position: relative;
	padding-top: 40px;
	width: 340px;
	margin-right: 20px;
}
.my-info-box .top {
	display: flex;
	align-items: center;
	margin-bottom: 13px;
}
.my-info-box .top .level {
	display: flex;
	justify-content: center;
	align-items: center;
	/*width: 50px;*/
	height: 20px;
	padding: 0 10px;
	font-size: 12px;
	background: rgb(255,255,255);
	border-radius: 20px;
	box-sizing: border-box;
}
.my-info-box .top .benefit__btn {
	margin-left: 5px;
	font-size: 14px;
	color: rgba(255,255,255,0.4);
	text-decoration: underline;
}
.my-info-box .name {
	font-size: 32px;
	font-weight: 400;
	color: rgb(255,255,255);
}
.my-info-box .name > span {font-weight: 700;}
.my-info-box .info-modify__btn {
	position: absolute;
	right: -8px;
	top: 32px;
	width: 35px;
	height: 35px;
	font-size: 0;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='18' height='18' viewBox='0 0 18 18'%3E%3Cg id='수정' transform='translate(-157 -493)'%3E%3Cpath id='패스_87' data-name='패스 87' d='M175,503.636v-3.273h-2.669a6.52,6.52,0,0,0-.7-1.684l1.887-1.887-2.314-2.314-1.887,1.887a6.52,6.52,0,0,0-1.684-.7V493h-3.273v2.669a6.52,6.52,0,0,0-1.684.7l-1.887-1.887-2.314,2.314,1.887,1.887a6.521,6.521,0,0,0-.7,1.684H157v3.273h2.669a6.52,6.52,0,0,0,.7,1.684l-1.887,1.887,2.314,2.314,1.887-1.887a6.51,6.51,0,0,0,1.684.7V511h3.273v-2.669a6.522,6.522,0,0,0,1.684-.7l1.887,1.887,2.314-2.314-1.887-1.887a6.507,6.507,0,0,0,.7-1.684Zm-9,.818A2.455,2.455,0,1,1,168.455,502,2.454,2.454,0,0,1,166,504.455Z' transform='translate(0 0)' fill='%23fff'/%3E%3C/g%3E%3C/svg%3E%0A");
	background-repeat: no-repeat;
	background-position: center center;
}
.my-info-box .info {
	position: relative;
	bottom: -50px;
}
.my-info-box .info span {
	position: relative;
	display: inline-block;
	margin-right: 40px;
	font-size: 16px;
	color: rgb(255,255,255);
}
.my-info-box .info span:before {
	content: '';
	display: block;
	position: absolute;
	left: -20px;
	top: 50%;
	transform: translateY(-50%);
	width: 1px;
	height: 12px;
	background-color: rgba(255,255,255,.3);
}
.my-info-box .info span:first-child:before {display: none;}
.my-link-box {
	display: flex;
	padding-top: 40px;
	width: 1200px;
}
.my-link-box > div {
	width: 100%;
	padding: 0 0 0 60px;
	border-left: 1px solid rgba(255,255,255,0.4);
	box-sizing: border-box;
}
.my-link-box dt {
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
	color: rgb(255,255,255);
}
.my-link-box dd {
	margin-top: 15px;
	font-size: 32px;
	font-weight: 700;
	line-height: 28px;
	color: rgb(255,255,255);
}
.mypage__area {
	display: flex;
	justify-content: space-between;
	margin: 0 auto;
	padding: 53px 30px 130px;
	max-width: 1660px;
	width: 100%;
	box-sizing: border-box;
}
.mypage__area .inp-box input {
	padding: 0 20px;
	width: 100%;
	height: 50px;
	font-size: 16px;
	font-weight: 400;
	border: 1px solid rgb(204,204,204);
	border-radius: 5px;
	box-sizing: border-box;
}
.mypage__area .inp-box input:placeholder {
	font-size: 16px;
	color: rgb(153,153,153)
}
.my-btn-box {
	margin: 70px auto 0;
	width: 610px;
}
.my-btn-box button {
	height: 60px;
	font-size: 18px;
	border-radius: 50px;
}
.my-btn-box {}

.my-lnb {
	width: 340px;
}
.my-lnb .tit {
	padding: 0 0 10px;
	font-size: 18px;
	font-weight: 700;
	line-height: 32px;
}
.my-lnb > div {
    padding: 30px 0;
	border-bottom: 1px solid rgba(0,0,0,0.1);
	box-sizing: border-box;
}
.my-lnb > div:last-child {border-bottom: 0;}
.my-lnb ul li a {
	position: relative;
	font-size: 16px;
	font-weight: 400;
	line-height: 40px;
}
.my-lnb ul li.on a:before {
	content: '';
	display: block;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 1px;
	background-color: rgb(0,0,0);
}
.my-con {
	position: relative;
	width: calc(100% - 460px);
}
.my-con .btn_rt {
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	right: 0;
	top: 0;
	width: 200px;
	height: 40px;
	font-size: 16px;
	font-weight: 400;
	border-radius: 60px;
	box-sizing: border-box;
}

.odr__hd {
	display: block;
	padding: 30px 0;
	background-position: center right;
	background-repeat: no-repeat;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='5.657' height='8.485' viewBox='0 0 5.657 8.485'%3E%3Cg id='_' data-name='▼' transform='translate(-1112.986 -1366.13) rotate(45)'%3E%3Cg id='사각형_18' data-name='사각형 18' transform='translate(1754 178)' fill='none' stroke='%23000' stroke-width='1'%3E%3Crect width='6' height='2' rx='1' stroke='none'/%3E%3Crect x='0.5' y='0.5' width='5' height='1' rx='0.5' fill='none'/%3E%3C/g%3E%3Cg id='사각형_19' data-name='사각형 19' transform='translate(1760 178) rotate(90)' fill='none' stroke='%23000' stroke-width='1'%3E%3Crect width='6' height='2' rx='1' stroke='none'/%3E%3Crect x='0.5' y='0.5' width='5' height='1' rx='0.5' fill='none'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A");
}
.odr__hd p {
	position: relative;
	float: left;
	font-size: 18px;
	font-weight: 700;
}
.odr__hd .num {
	margin-right: 44px;
}
.odr__hd .num:before {
	content: '';
	display: block;
	position: absolute;
	right: -22px;
	top: 50%;
	transform: translateY(-50%);
	width: 1px;
	height: 12px;
	background-color: rgb(204,204,204);
}
.odr__hd:after {
	content: '';
	display: block;
	clear: both;	
}
.my-odr-box {
	padding: 27px 0 20px;
	border-top: 1px solid rgb(0,0,0);
	box-sizing: border-box;
}
.my-odr-wrap > div:first-child {
	margin: 0;
	border-top: 0;
}
.odr__list.__my .goods-etc {
	align-items: flex-end;
	grid-template-rows: none;
}
.odr__btn-box {
	position: absolute;
	bottom: 40px;
	right: 0;
	width: 56%;
	font-size: 0;	
	text-align: right;
}
.odr__btn-box button {
	margin-left: 10px;
	width: calc(25% - 10px);
	height: 40px;
	font-size: 16px;
	font-weight: 400;
	text-align: center;
	border-radius: 50px;
	box-sizing: border-box;
}
.odr__list .status {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	font-size: 14px;
}
.odr__list .status > span {
	color: rgb(153,153,153);
}

.my-sort-box {
	display: flex;
	justify-content: space-between;
	padding-bottom: 20px;
}
.my-sort-box .total {
	font-size: 16px;
}
.my-sort-box .period {
	display: flex;
}
.my-sort-box .period a {
	margin-left: 17px;
	font-size: 16px;
	color: rgb(153,153,153);
}
.my-sort-box .period a.on {
	text-decoration: underline;
	color: rgb(0,0,0);	
}
.my-sort-wrap {
	padding: 30px 0;
	border-bottom: 1px solid rgb(0,0,0);
	box-sizing: border-box;
}
.my-sort-wrap .date-write-box {display: none;}
.my-sort-wrap._write .date-write-box {
	display: flex;
    justify-content: flex-end;
    width: 100%;
}
.my-sort-wrap .date-write-box input {
    width: 295px;
    margin-right: 10px;
	height: 40px;
	border-bottom: 1px solid rgb(238,238,238);
	box-sizing: border-box;
	outline: 0;
	font-weight: 400;
	font-size: 1.5rem;
	color: rgb(0,0,0);
}
.my-sort-wrap .date-write-box input::placeholder {color: rgb(153,153,153);}
.my-sort-wrap .date-write-box button {
	display: block;
	width: 75px;
	height: 40px;
	background-color: rgb(0,0,0);
	border-radius: 5px;
	font-weight: 400;
	font-size: 1.5rem;
	color: rgb(255,255,255);
}

.myorder-return-box {
	padding-top: 56px;
	border-top: 1px solid rgb(0,0,0);
	box-sizing: border-box;
}
.myorder-return-box > div {
	padding: 36px 0;
	border-bottom: 1px solid rgb(238,238,238);
	box-sizing: border-box;
}
.myorder-return-box > div:last-child {border-bottom: 0;}
.myorder-return-box .tit {
	font-size: 16px;
	font-weight: 700;
	line-height: 24px;
}
.myorder-return-box .txt {
	margin-top: 25px;
	font-size: 16px;
	font-weight: 400;
	line-height: 26px;
}
.myorder-return-box .txt span {
	display: block;
	text-decoration: underline;
	cursor: default;
}
.myorder-return-box ul li {
	position: relative;
	padding-left: 12px;
}
.myorder-return-box ul li:before {
	content: '·';
	display: block;
	position: absolute;
	left: 0;
	top: 0;
}

.my-odr-info {padding: 30px 0 60px;}
.my-odr-info .txt {
	padding-bottom: 20px;
	font-size: 18px;
	font-weight: 700;
}
.my-odr-info span {
	position: relative;
	display: inline-block;
	margin-right: 47px;	
	font-size: 16px;
	font-weight: 700;
}
.my-odr-info .num:before {
	content: '';
	display: block;
	position: absolute;
	top: 50%;
	right: -23px;
	transform: translateY(-50%);
	width: 1px;
	height: 12px;
	background-color: rgb(204,204,204);
}
.odr-view-wrap {
	padding-top: 30px;
	border-top: 1px solid rgb(0,0,0);
}
.odr-view-wrap ul li:first-child {
	border-top: 0;
}
.odr__list.__my li {
	grid-template-columns: 140px auto 350px;
}
.odr__list.__my .goods-info {
    grid-template-rows: 30px auto 70px  21px;
}
.odr__list.__my_chk .goods-info {
    grid-template-rows: 30px auto 70px  21px;
}

.myorder-detail-box {
	display: flex;
	justify-content: space-between;
	padding: 50px 0;
	border-top: 1px solid rgb(0,0,0);
	box-sizing: border-box;
}
.myorder-detail-box > div {
	position: relative;	
	width: calc(50% - 60px);
}

.myorder-detail-box > div:first-child:before {
	content: '';
	display: block;
	position: absolute;
	right: -60px;
	top: 0;
	height: 100%;
	width: 1px;
	background-color: rgba(0,0,0,0.1);
}
.pay-total-box .cn > div {
	padding: 20px 0;
	border-bottom: 1px solid rgba(0,0,0,0.1);
	box-sizing: border-box;
}
.pay-total-box .cn > div:last-of-type {
	border-bottom: 0;
}
.pay-total-box .cn dl {
	display: flex;
	justify-content: space-between;
	padding: 8px 0;
}
.pay-total-box .cn dd,
.pay-total-box .cn dt {
	font-size: 16px;	
	font-weight: 400;
	line-height: 22px;
}
.pay-total-box .cn dd {
	text-align: right;
}
.pay-total-box .cn .txt__big {
	font-size: 22px;
	font-weight: 700;
}
.pay-total-box button {margin-top: 30px;}
.myorder-detail-box .hd {
	display: flex;
	justify-content: space-between;
}
.addr-info-box .hd {height: 40px;}
.addr-info-box .hd button {
	width: 100px;
	height: 40px;
	font-size: 16px;
	border-radius: 30px;
	box-sizing: border-box;
}
.addr-info-box .cn {padding: 14px 0;}
.addr-info-box .cn .txt-box {
	display: flex;
}
.addr-info-box .cn .txt-box p {
	position: relative;
	margin-left: 36px;
	font-size: 16px;
	font-weight: 700;
	line-height: 26px;
}
.addr-info-box .cn .txt-box p:first-child {
	margin-left: 0;
}
.addr-info-box .cn .txt-box .tel:before {
	content: '';
	display: block;
	position: absolute;
	left: -18px;
	top: 50%;
	transform: translateY(-50%);
	width: 1px;
	height: 12px;
	background: rgb(204,204,204);
}
.addr-info-box .cn .txt-box + .txt-box {margin-top: 12px;}
.addr-info-box .cn .txt-box + .txt-box p {font-weight: 400;}
.addr-info-box .cn .select-msg-box {margin-top: 26px;}

.my-top {
	margin-bottom: 26px;
	padding: 30px 0 60px;
	border-bottom: 1px solid rgb(0,0,0);
	box-sizing: border-box;
}
.my-top .txt {
	font-size: 18px;
	font-weight: 700;
}
.my-top ul {margin-top: 34px;}
.my-top li {
	position: relative;
	font-size: 16px;
	font-weight: 400;
	line-height: 26px;
	color: rgb(102,102,102);
	padding-left: 12px;
}
.my-top li:before {
	content: '·';
	display: block;
	position: absolute;
	top: 0;
	left: 0;
}

.my-reason-box {
	padding: 58px 0;
	border-top: 1px solid rgb(0,0,0);
}
.my-reason-box .cn > div {
	display: flex;
	margin: 27px 0;
}
.my-reason-box .inp-box {width: 100%;}
.return-select-box {margin-right: 15px;}
.return-select-box select {
	width: 370px;
	height: 50px;
}
.addr-add-box .cn {
	margin-top: 28px;
}
.addr-add-box .cn .inp-box > div:not(div:last-child) {margin-bottom: 10px;}
.addr-add-box .cn .inp-box .addr > div:first-child {
	display: flex;
}
.addr-add-box .cn .inp-box .addr {margin-top: 30px;}

.addr-add-box .cn .inp-box .addr > div:first-child input {
	width: 400px;
	margin-right: 10px;
}

.zipcode__btn {
	width: 100px;
	height: 50px;
	font-size: 16px;
	font-weight: 400 !important;
	border-radius: 5px;
}
.addr-add-box .cn .inp-box .addr > div {
	margin-bottom: 10px;
}


.coupon__list {
	display: flex;
	flex-wrap: wrap;
	margin-top: 58px;
}
.coupon__list li {
	margin-right: 40px;
	margin-bottom: 34px;
	width: calc(50% - 20px);
}
.coupon__list li:nth-child(even) {margin-right: 0;}
.coupon-box {
	position: relative;
	padding: 30px 0 0;
}
.coupon-box .txt {
	font-size: 16px;
	color: rgb(102,102,102);
}
.coupon-inp-box {
	position: absolute;
	top: 20px;
	right: 0;
	display: flex;
	align-items: center;
	width: calc(50% - 20px);
	height: 50px;
	border-radius: 5px;
	border: 1px solid rgb(204,204,204);
	box-sizing: border-box;
}
.coupon-inp-box input {
	padding: 0 20px;
	height: 100%;
	height: 44px;
	width: calc(100% - 70px);
	font-size: 16px;
	color: rgb(0,0,0);
	box-sizing: border-box;
}
.coupon-inp-box input::placeholder {
	color: rgb(0,0,0);
}
.coupon-inp-box > div {
	position: relative;
}
.coupon-inp-box > div:before {
	content: '';
	display: block;
	position: absolute;
	top: 50%;
	left: 0;
	width: 1px;
	height: 10px;
	transform: translateY(-50%);
	background-color: rgb(204,204,204);
}
.coupon-inp-box button {
	font-size: 16px;
	color: rgb(0,0,0);
	width: 70px;
	height: 50px;
}
.coupon__wrap {
	overflow: hidden;
    padding-bottom: 6px;
}
.coupon__wrap .head {
	position: relative;
	padding: 25px 30px 0;
	box-sizing: border-box;
	border: 1px solid rgb(0,0,0);
	border-bottom: 0;
}
.coupon__wrap .head:before {
	content: '';
	display: block;
	position: absolute;
	width: 50px;
	height: 50px;
	top: 110px;
	left: -30px;
	border-radius: 50%;
	box-sizing: border-box;
	background-color: rgb(255,255,255);
}
.coupon__wrap .head:after {
	content: '';
	display: block;
	position: absolute;
	width: 50px;
	height: 50px;
	top: 110px;
	right: -30px;
	border-radius: 50%;
	box-sizing: border-box;
	background-color: rgb(255,255,255);
}
.coupon__wrap .head > div {
	display: flex;
	justify-content: space-between;
}
.coupon__wrap .head > div p {
	font-size: 16px;
}
.coupon__wrap .head .tit {
	padding: 55px 0;
	font-size: 40px;
	font-weight: 700;
	color: rgb(255,255,255);
	text-align: center;
}
.coupon__wrap .con {	
	position: relative;
	display: flex;
	justify-content: space-between;
	padding: 28px 30px;
	background: rgb(0,0,0);
	border: 1px solid rgb(0,0,0);
	border-top: 0;
    box-shadow: 0px 3px 6px rgb(0 0 0 / 16%);
	box-sizing: border-box;
}
.coupon__wrap .con:before {
	content: '';
	display: block;
	position: absolute;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
	width: calc(100% - 60px);
	height: 1px;
	background-color: rgba(255,255,255,.2);
}
.coupon__wrap .con p {
	font-size: 16px;	
	color: rgba(255,255,255,.5);
}
.coupon__wrap .con .coupon__btn {
	color: rgba(255,255,255,.5);
	text-decoration: underline;
	font-size: 16px;
}
.coupon__wrap._cp_bk .head,
.coupon__wrap._cp_bk .con {
	background: rgb(0,32,83);
	color: rgb(255,255,255);
}
.coupon__wrap._cp_wt .head,
.coupon__wrap._cp_wt .con {
	background-color: rgb(255,255,255);
	color: rgb(0,0,0);
}
.coupon__wrap._cp_wt .head:before {border: 1px solid rgb(0,0,0);}
.coupon__wrap._cp_wt .head:after {border: 1px solid rgb(0,0,0);}
.coupon__wrap._cp_wt button,
.coupon__wrap._cp_wt p {color: rgb(0,0,0) !important;}
.coupon__wrap._cp_wt .con:before {background-color: rgba(0,0,0,.2);}
.coupon__wrap._cp_gr .head,
.coupon__wrap._cp_gr .con {
	background-color: rgb(102,102,102);
    border-color: rgb(153,153,153);
	color: rgb(255,255,255);
}

.point-list-box .txt {
	padding: 30px 0 27px;
	font-size: 20px;
	font-weight: 700;
}
.point-list-box ul {
	padding: 10px 0 0;
	border-top: 1px solid rgb(0,0,0);
	box-sizing: border-box;
}
.point-list-box li {
	padding: 26px 0;
	border-bottom: 1px solid rgb(238,238,238);
	box-sizing: border-box;
}
.point-list-box li:last-child {border-bottom: 0;}
.point-list-box li > div {
	display: flex;
	justify-content: space-between;
}
.point-list-box li > div:first-child {
	margin-bottom: 27px;
}
.point-list-box li > div:first-child p {
	font-size: 18px;
	font-weight: 700;
}
.point-list-box li > div:last-child p {
	font-size: 16px;
	font-weight: 400;
}
.point-list-box li > div:last-child span {
	position: relative;
	margin-right: 40px;
}
.point-list-box li > div:last-child span:before {
	content: '';
	display: block;
	position: absolute;
	left: -20px;
	top: 50%;
	transform: translateY(-50%);
	background-color: rgb(204,204,204);
	width: 1px;
	height: 12px;
}
.point-list-box li.use > div:first-child p {color: rgb(214,0,31);}
.point-list-box li > div:last-child span:first-child:before {display: none;}
.point-list-box li > div:last-child .date {
	color: rgb(153,153,153);
}
.wishlist .odr-box {padding: 36px 0 0;}

.today-list-box .goods-list-box {padding: 36px 0 0;}
.today-list-box .goods-list-box .con {margin: 0; width: 100%;}
.today-list-box .goods-list-box .con .list-box {
	margin-left: 0;
	width: 100% !important;
}
.today-list-box .cart__btn {
	margin-top: 20px;
	width: 100%;
	height: 40px;
	font-size: 16px;
	border-radius: 30px;
	box-sizing: border-box;
}

.modify-detail-box {
	padding: 30px 0 0;
}
.modify-detail-box > div {
	padding: 56px 0 60px;
	border-top: 1px solid rgb(0,0,0);
	box-sizing: border-box;
}
.modify-detail-box > div:nth-child(2) .mdfy_info-box .inp-box {
	display: flex;
	justify-content: space-between;
}
.modify-detail-box > div:nth-child(2) .mdfy_info-box .inp-box input:last-child {
	margin-top: 0;
	margin-left: 10px;
}
.modify-detail-box > div:first-child {
	padding: 0 0 60px;	
	border-top: 0;
}
.mdfy_info-box {
	margin: 0 -60px;
	display: flex;
	justify-content: space-between;
}
.mdfy_info-box > div {
	position: relative;
	width: 100%;
	margin: 28px 60px 0;
}
.mdfy_info-box > div:before {
	content: '';
	display: block;
	position: absolute;
	left: -60px;
	top: 0;
	width: 1px;
	height: 100%;
	background-color: rgba(0,0,0,0.1);
}
.mdfy_info-box > div:first-child:before {display: none;}
.mdfy_info-box > div input {margin-top: 10px;}
.mdfy_info-box > div input:first-child {margin-top: 0;}
.mypage__area .inp-box input[disabled] {
	background-color: rgb(238,238,238);
	color: rgb(153,153,153);
}

.mdfy_info-box .chk {margin-bottom: 10px;}
.mdfy_info-box .chk input {
	position: absolute;
	z-index: -9999;
	opacity: 0;
}
.mdfy_info-box .chk label {
	display: flex;
	align-items: center;
    justify-content: center;
	width: 100%;
	height: 50px;
	padding: 0 10px 0 40px;
	background-repeat: no-repeat;
	background-position: 20px center;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='11.2' height='8' viewBox='0 0 11.2 8'%3E%3Cpath id='패스_40' data-name='패스 40' d='M453,219a.726.726,0,0,1-.56-.24l-3.2-3.2a.792.792,0,0,1,1.12-1.12l2.64,2.64,5.84-5.84a.792.792,0,0,1,1.12,1.12l-6.4,6.4A.726.726,0,0,1,453,219Z' transform='translate(-449 -211)' fill='%23ccc'/%3E%3C/svg%3E%0A");
	border: 1px solid rgb(238,238,238);
	border-radius: 5px;
	box-sizing: border-box;
	font-weight: 400;
	font-size: 16px;
	color: rgb(153,153,153);
}
.mdfy_info-box .chk input:checked + label {
	border-color: rgb(0,0,0);
	color: rgb(0,0,0);
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='11.2' height='8' viewBox='0 0 11.2 8'%3E%3Cpath id='íŒ¨ìŠ¤_40' data-name='íŒ¨ìŠ¤ 40' d='M453,219a.726.726,0,0,1-.56-.24l-3.2-3.2a.792.792,0,0,1,1.12-1.12l2.64,2.64,5.84-5.84a.792.792,0,0,1,1.12,1.12l-6.4,6.4A.726.726,0,0,1,453,219Z' transform='translate(-449 -211)'/%3E%3C/svg%3E%0A");
}
.mdfy_info-box .sms-email-chk {
	display: flex;
	margin-top: 30px;
}
.mdfy_info-box .sms-email-chk > div {margin-left: 15px;}
.mdfy_info-box .sms-email-chk > div:first-child {margin-left: 0;}
.mdfy_info-box .sms-email-chk label {
	padding-left: 30px;
	font-weight: 400;
	font-size: 16px;
    line-height: 20px;
	color: rgb(0,0,0);
}
.modify-detail-box .txt__style1 {
	margin-top: 25px;
}
.modify-detail-box .child-group {
	position: relative;
	margin-top: 28px;	
	display: flex;
}
.modify-detail-box .child-group .info {
	display: flex;
}
.modify-detail-box .child-group input {
	width: 340px;
	margin-right: 10px;
}
.modify-detail-box .child-group .info select {
	margin-right: 10px;
	width: 160px;
	height: 50px;
}
.modify-detail-box .child-group .child-add__btn {
	width: 270px;
	height: 50px;
	font-size: 16px;
	border-radius: 30px;
	box-sizing: border-box;
}
.modify-detail-box .child-group .reset {
	position: absolute;
	top: -50px;
	right: 0;
	border: 0;
	width: auto;
	height: auto;
	color: rgb(153,153,153);
	font-size: 16px;
	text-decoration: underline;
}
.my-con .btn_quit {
	display: block;
	margin-top: 57px;
	font-size: 16px;
	color: rgb(153,153,153);
	text-decoration: underline;
	text-align: center;
}

.my-address-box {padding: 0 0 100px;}
.my-address-box .addr__list {
	display: flex;
	flex-wrap: wrap;
}
.my-address-box .addr__list li {
	position: relative;
	top: 0;
	left: 0;
	padding: 37px 0 28px;
	margin-left: 80px;	
	width: calc(50% - 40px);
	border-bottom: 1px solid rgb(238,238,238);
	cursor: pointer;
}
/*.my-address-box .addr__list li:last-child {border-bottom: 0;}*/
.my-address-box .addr__list li:nth-child(odd) {margin-left: 0;	}
.my-address-box .addr__list li .addr-info {
	position: relative;
	top: 0;
	left: 0;
	box-sizing: border-box;
}
.my-address-box .addr__list li .addr-info .name-tel {
	display: flex;
	align-items: center;
	max-width: calc(100% - 80px);
}
.my-address-box .addr__list li .addr-info .name-tel p {
	position: relative;
	top: 0;
	left: 0;
	font-weight: 700;
	font-size: 16px;
	color: rgb(0,0,0);
}
.my-address-box .addr__list li .addr-info .name-tel .tel {
	margin-left: 6px;
	padding-left: 10px;
}
.my-address-box .addr__list li .addr-info .name-tel .tel:before {
	position: absolute;
	top: 6px;
	left: 0;
	width: 1px;
	height: 14px;
	background-color: rgb(204,204,204);
	content: '';
}
.my-address-box .addr__list li .addr-info .name-tel .tag {
	display: flex;
	align-items: center;
	padding: 0 7px 0 9px;
	height: 20px;
	width: 36px;
	margin-right: 10px;
	background-color: rgb(0,0,0);
	box-sizing: border-box;
	border-radius: 5px;
	font-weight: 400;
	font-size: 10px;
	color: rgb(255,255,255);
}
.my-address-box .addr__list li .addr-info .addr-detail {margin-top: 27px;}
.my-address-box .addr__list li .addr-info .addr-detail p {
	font-weight: 400;
	font-size: 16px;
	color: rgb(102,102,102);
	line-height: 26px;
}
.my-address-box .addr__list li .btn-box {
	display: flex;
	position: absolute;
	top: 23px;
	right: 10px;
	z-index: 4;
}
.my-address-box .addr__list li .btn-box button {
	display: block;
	width: 36px;
	height: 36px;
	background-repeat: no-repeat;
	background-position: center center;
	font-size: 0;
}
.my-address-box .addr__list li .btn-box .modify__btn {
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='13.333' height='16' viewBox='0 0 13.333 16'%3E%3Cg id='그룹_35' data-name='그룹 35' transform='translate(-255 -302.4)'%3E%3Cpath id='패스_85' data-name='패스 85' d='M259.407,314.7h-2.667a.7.7,0,0,1-.741-.741v-2.667a.674.674,0,0,1,.222-.519l8.148-8.148a.716.716,0,0,1,1.037,0l2.667,2.667a.717.717,0,0,1,0,1.037l-8.148,8.148A.673.673,0,0,1,259.407,314.7Z' transform='translate(-0.259 0)'/%3E%3Cpath id='패스_86' data-name='패스 86' d='M267.593,323.481H255.741a.741.741,0,0,1,0-1.481h11.852a.741.741,0,0,1,0,1.481Z' transform='translate(0 -5.081)'/%3E%3C/g%3E%3C/svg%3E%0A");
}
.my-address-box .addr__list li .btn-box .delete__btn {
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3E%3Cg id='그룹_19' data-name='그룹 19' transform='translate(-156 -540)'%3E%3Cpath id='패스_41' data-name='패스 41' d='M159,548v10a.666.666,0,0,0,.667.667h10.667A.666.666,0,0,0,171,558V548Z' transform='translate(-1 -2.667)'/%3E%3Cpath id='패스_42' data-name='패스 42' d='M156.667,544h14.667a.667.667,0,0,0,0-1.333h-4v-2a.667.667,0,0,0-.667-.667h-5.333a.667.667,0,0,0-.667.667v2h-4a.667.667,0,0,0,0,1.333ZM162,541.333h4v1.333h-4Z'/%3E%3C/g%3E%3C/svg%3E%0A");
}
.my-address-box .addr-add__btn {
	display: block;
	width: calc(100% - 60px);
	height: 50px;
	margin: 30px auto 0;
	border: 1px solid rgb(0,0,0);
	border-radius: 50px;
	box-sizing: border-box;
	font-weight: 700;
	font-size: 14px;
	color: rgb(0,0,0);
}

.my-login-box ul {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.my-login-box ul li {
	display: flex;
	width: calc(50% - 40px);
	margin-right: 80px;
	justify-content: space-between;
	align-items: center;
	padding: 38px 0;
	border-bottom: 1px solid rgb(238,238,238);
}
.my-login-box ul li:nth-child(even) {margin-right: 0;}
.my-login-box ul li p {
	position: relative;
    display: flex;
    justify-content: space-between;
	top: 0;
	left: 0;
    width: 100%;
	padding-left: 35px;
	font-weight: 400;
	font-size: 16px;
	color: rgb(0,0,0);
}
.my-login-box ul li p .date {
	font-size: 16px;
	color: rgb(153,153,153);
	margin-right: 20px;
}
.my-login-box ul li img,
.my-login-box ul li svg {
	position: absolute;
	top: 50%;
	left: 0;
	transform: translateY(-50%);
}
.my-login-box ul li .chk input {
	position: absolute;
	z-index: -9999;
	opacity: 0;
}
.my-login-box ul li .chk label {
	display: block;
	position: relative;
	top: 0;
	left: 0;
	width: 48px;
	height: 24px;	
	background-color: rgb(204,204,204);
	border-radius: 30px;
	transition: background-color 0.3s;
	font-size: 0;
}
.my-login-box ul li .chk input:checked + label {background-color: rgb(0,0,0);}
.my-login-box ul li .chk label:before {
	display: block;
	position: absolute;
	top: 50%;
	left: 2px;
	width: 20px;
	height: 20px;
	background-color: rgb(255,255,255);
	border-radius: 50%;
	transform: translateY(-50%);
	transition: left 0.3s;
	content: '';
}
.my-login-box ul li .chk input:checked + label:before {left: calc(100% - 22px);}


.qna__list li {border-bottom: 1px solid rgb(238,238,238);}
.qna__list li:last-child {border-bottom: 0;}
.qna__list li .qna-q {
	padding: 37px 0;
	cursor: pointer;
}
.qna__list li .qna-q .info {
	display: flex;
	justify-content: space-between;
}
.qna__list li .qna-q .info p {
	position: relative;
	top: 0;
	left: 0;
	font-weight: 400;
	font-size: 16px;
	color: rgb(0,0,0);
}
.qna__list li .qna-q .info > div {display: flex;}
.qna__list li .qna-q .info > div p {
	margin-left: 17px;
	padding-left: 20px;
}
.qna__list li .qna-q .info > div p:before {
	position: absolute;
	top: 50%;
	left: 0;
	width: 1px;
	height: 10px;
	background-color: rgb(204,204,204);
	transform: translateY(-50%);
	content: '';
}
.qna__list li .qna-q .info > div p:first-child {
	margin-left: 0;
	padding-left: 0;
}
.qna__list li .qna-q .info > div p:first-child:before {content: none;}
.qna__list li .qna-q .qna-tit {margin-top: 14px;}
.qna__list li .qna-q .qna-tit p {
	font-weight: 700;
	font-size: 18px;
	color: rgb(0,0,0);
}
.qna__list li .qna-a {
	display: none;
	padding: 0 40px;
	background-color: rgb(238,238,238);
}
.qna__list li.open .qna-a {display: block;}
.qna__list li .qna-a > div:not(.a-point-box) {
	position: relative;
	top: 0;
	left: 0;
	padding: 41px 0 37px 34px;
}
.qna__list li .qna-a > div:not(.a-point-box):before {
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	top: 41px;
	left: 0;
	width: 24px;
	height: 24px;
	background-color: rgb(255,255,255);
	border-radius: 50%;
	font-weight: 700;
	font-size: 14px;
	color: rgb(102,102,102);
}
.qna__list li .qna-a .a-txt-box {border-top: 1px solid rgb(204,204,204);}
.qna__list li .qna-a .q-txt-box:before {content: 'Q';}
.qna__list li .qna-a .a-txt-box:before {content: 'A';}
.qna__list li .qna-a p:not(.date) {	
	font-weight: 400;
	font-family: 'Spoqa Han Sans Neo', sans-serif !important;
	font-size: 16px;
	color: rgb(102,102,102);
	line-height: 26px;
}
.qna__list li .qna-a p:not(.date) span {
	font-family: 'Spoqa Han Sans Neo', sans-serif !important;
	font-size: 16px !important;
	background-color: none !important;
}
.qna__list li .qna-a .a-txt-box > div {
	font-weight: 400;
	font-size: 16px;
	color: rgb(102,102,102);
	line-height: 26px;
}
.qna__list li .qna-a .date {
	position: absolute;
	top: 41px;
	right: 40px;
	font-weight: 400;
	font-size: 16px;
	color: rgb(153,153,153);
}
.qna__list li .qna-a .a-point-box {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 23px 0 48px;
	border-top: 1px solid rgb(204,204,204);
}

.qna__list li .qna-a .a-point-box .star-inp-box {
	margin: 0 20px 0 0;
}
.qna__list li .qna-a .a-point-box p {
	width: 100%;
	color: rgb(0,0,0);
	line-height: 28px;
}
.qna__list li .qna-a .a-point-box button {
	display: block;
	width: calc(100% - 172px);
	max-width: 200px;
	height: 50px;
	background-color: rgb(255,255,255);
	border-radius: 50px;
	box-sizing: border-box;
	font-weight: 400;
	font-size: 16px;
	color: rgb(0,0,0);
}

.qna__list li .qna-a .a-point-box .star-inp-box .bg > div {
	width: 24px;
	height: 23px;
	margin-left: 8px;
	background-size: 24px;
}
.qna__list li .qna-a .a-point-box .star-inp-box .bg > div:first-child {margin-left: 0;}
.qna__list li .qna-a .a-point-box .star-inp-box label {
	width: 24px;
	height: 23px;
	margin-left: 8px;
}
.qna__list li .qna-a .a-point-box .star-inp-box label:first-of-type {margin-left: 0;}

.star-inp-box {
	display: flex;
	justify-content: center;
	position: relative;
	top: 0;
	left: 0;
}
.star-inp-box input {
	position: absolute;
	z-index: -9999;
	opacity: 0;
}
.star-inp-box label {
	display: flex;
	position: relative;
	top: 0;
	left: 0;
	z-index: 3;
	width: 30px;
	height: 29px;
	margin-left: 10px;
	cursor: pointer;
}
.star-inp-box label:first-of-type {margin-left: 0;}
.star-inp-box .bg {
	display: flex;
	position: absolute;
	top: 0;
	left: 50%;
	z-index: 2;
	transform: translateX(-50%);
}
.star-inp-box .bg > div {
	width: 30px;
	height: 29px;
	margin-left: 10px;
	background-repeat: no-repeat;
	background-position: center center;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='30' height='28.638' viewBox='0 0 30 28.638'%3E%3Cpath id='패스_126' data-name='패스 126' d='M28.971,782.1l4.049,8.2,9.052,1.316a1.083,1.083,0,0,1,.6,1.846l-6.551,6.385,1.546,9.016A1.083,1.083,0,0,1,36.1,810.01L28,805.754l-8.1,4.257a1.084,1.084,0,0,1-1.571-1.143l1.546-9.016-6.551-6.385a1.083,1.083,0,0,1,.6-1.846l9.052-1.316,4.049-8.2A1.084,1.084,0,0,1,28.971,782.1Z' transform='translate(-13 -781.5)' fill='%23ddd'/%3E%3C/svg%3E%0A");
}
.star-inp-box .bg > div:first-child {margin-left: 0;}

/* 1점 */
.star-inp-box input:nth-of-type(1):checked ~ .bg > div:nth-child(1) {
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='30' height='28.638' viewBox='0 0 30 28.638'%3E%3Cpath id='패스_126' data-name='패스 126' d='M28.971,782.1l4.049,8.2,9.052,1.316a1.083,1.083,0,0,1,.6,1.846l-6.551,6.385,1.546,9.016A1.083,1.083,0,0,1,36.1,810.01L28,805.754l-8.1,4.257a1.084,1.084,0,0,1-1.571-1.143l1.546-9.016-6.551-6.385a1.083,1.083,0,0,1,.6-1.846l9.052-1.316,4.049-8.2A1.084,1.084,0,0,1,28.971,782.1Z' transform='translate(-13 -781.5)'/%3E%3C/svg%3E%0A");
}
/* //1점 */

/* 2점 */
.star-inp-box input:nth-of-type(2):checked ~ .bg > div:nth-child(1),
.star-inp-box input:nth-of-type(2):checked ~ .bg > div:nth-child(2) {
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='30' height='28.638' viewBox='0 0 30 28.638'%3E%3Cpath id='패스_126' data-name='패스 126' d='M28.971,782.1l4.049,8.2,9.052,1.316a1.083,1.083,0,0,1,.6,1.846l-6.551,6.385,1.546,9.016A1.083,1.083,0,0,1,36.1,810.01L28,805.754l-8.1,4.257a1.084,1.084,0,0,1-1.571-1.143l1.546-9.016-6.551-6.385a1.083,1.083,0,0,1,.6-1.846l9.052-1.316,4.049-8.2A1.084,1.084,0,0,1,28.971,782.1Z' transform='translate(-13 -781.5)'/%3E%3C/svg%3E%0A");
}
/* //2점 */

/* 3점 */
.star-inp-box input:nth-of-type(3):checked ~ .bg > div:nth-child(1),
.star-inp-box input:nth-of-type(3):checked ~ .bg > div:nth-child(2),
.star-inp-box input:nth-of-type(3):checked ~ .bg > div:nth-child(3) {
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='30' height='28.638' viewBox='0 0 30 28.638'%3E%3Cpath id='패스_126' data-name='패스 126' d='M28.971,782.1l4.049,8.2,9.052,1.316a1.083,1.083,0,0,1,.6,1.846l-6.551,6.385,1.546,9.016A1.083,1.083,0,0,1,36.1,810.01L28,805.754l-8.1,4.257a1.084,1.084,0,0,1-1.571-1.143l1.546-9.016-6.551-6.385a1.083,1.083,0,0,1,.6-1.846l9.052-1.316,4.049-8.2A1.084,1.084,0,0,1,28.971,782.1Z' transform='translate(-13 -781.5)'/%3E%3C/svg%3E%0A");
}
/* //3점 */

/* 4점 */
.star-inp-box input:nth-of-type(4):checked ~ .bg > div:nth-child(1),
.star-inp-box input:nth-of-type(4):checked ~ .bg > div:nth-child(2),
.star-inp-box input:nth-of-type(4):checked ~ .bg > div:nth-child(3),
.star-inp-box input:nth-of-type(4):checked ~ .bg > div:nth-child(4) {
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='30' height='28.638' viewBox='0 0 30 28.638'%3E%3Cpath id='패스_126' data-name='패스 126' d='M28.971,782.1l4.049,8.2,9.052,1.316a1.083,1.083,0,0,1,.6,1.846l-6.551,6.385,1.546,9.016A1.083,1.083,0,0,1,36.1,810.01L28,805.754l-8.1,4.257a1.084,1.084,0,0,1-1.571-1.143l1.546-9.016-6.551-6.385a1.083,1.083,0,0,1,.6-1.846l9.052-1.316,4.049-8.2A1.084,1.084,0,0,1,28.971,782.1Z' transform='translate(-13 -781.5)'/%3E%3C/svg%3E%0A");
}
/* //4점 */

/* 5점 */
.star-inp-box input:nth-of-type(5):checked ~ .bg > div:nth-child(1),
.star-inp-box input:nth-of-type(5):checked ~ .bg > div:nth-child(2),
.star-inp-box input:nth-of-type(5):checked ~ .bg > div:nth-child(3),
.star-inp-box input:nth-of-type(5):checked ~ .bg > div:nth-child(4),
.star-inp-box input:nth-of-type(5):checked ~ .bg > div:nth-child(5) {
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='30' height='28.638' viewBox='0 0 30 28.638'%3E%3Cpath id='패스_126' data-name='패스 126' d='M28.971,782.1l4.049,8.2,9.052,1.316a1.083,1.083,0,0,1,.6,1.846l-6.551,6.385,1.546,9.016A1.083,1.083,0,0,1,36.1,810.01L28,805.754l-8.1,4.257a1.084,1.084,0,0,1-1.571-1.143l1.546-9.016-6.551-6.385a1.083,1.083,0,0,1,.6-1.846l9.052-1.316,4.049-8.2A1.084,1.084,0,0,1,28.971,782.1Z' transform='translate(-13 -781.5)'/%3E%3C/svg%3E%0A");
}
/* //5점 */

.as-box {
	position: relative;
	padding: 30px 0 0;
}
.as-box .txt {
	font-size: 16px;
	color: rgb(102,102,102);
}
.as-box .as-info-box {
	display: none;
    margin-top: 58px;
	border-top: 1px solid rgb(0,0,0);
}
.as-box .as-info-box._open {display: block;	}
.as-box .as-info-box dl {
	position: relative;		
	display: inline-flex;
	margin-top: 37px;
	margin-right: 40px;
}
.as-box .as-info-box dl:nth-child(2):before {
	content: '';
	display: block;
	position: absolute;
	left: -20px;
	top: 50%;
	width: 1px;
	height: 12px;
	transform: translateY(-50%);
	background-color: rgb(204,204,204);
}
.as-box .as-info-box dt,
.as-box .as-info-box dd {
	font-weight: 400;
	font-size: 16px;
	color: rgb(0,0,0);
}
.as-box .as-info-box dt {
	margin-right: 5px;
	font-weight: 700;
}
.as-box .as-info-box ul {
	display: flex;
	margin-top: 38px;
}
.as-box .as-info-box ul li {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 20%;
	
	margin-right: 10px;
	padding-top: 120px;
	padding-bottom: 40px;
	background-color: rgb(238,238,238);
	background-repeat: no-repeat;
	background-position: center 43px;
	font-weight: 400;
	font-size: 16px;
	color: rgb(0,0,0);
	box-sizing: border-box;
}
.as-box .as-info-box ul li:nth-child(1) {
	background-image: url(/pc/resource/images/sub/as_icon01.png);
}
.as-box .as-info-box ul li:nth-child(2) {
	background-image: url(/pc/resource/images/sub/as_icon02.png);
}
.as-box .as-info-box ul li:nth-child(3) {
	background-image: url(/pc/resource/images/sub/as_icon03.png);
}
.as-box .as-info-box ul li:nth-child(4) {
	background-image: url(/pc/resource/images/sub/as_icon04.png);
}
.as-box .as-info-box ul li:nth-child(5) {
	background-image: url(/pc/resource/images/sub/as_icon05.png);
	margin-right: 0;
}
.as-box .as-info-box ul li.on {
	background-color: rgb(0,32,83);
	color: rgb(255,255,255);
}
.as-box .as-info-box ul li.on:nth-child(1) {background-image: url(/pc/resource/images/sub/as_icon01_on.png);}
.as-box .as-info-box ul li.on:nth-child(2) {background-image: url(/pc/resource/images/sub/as_icon02_on.png);}
.as-box .as-info-box ul li.on:nth-child(3) {background-image: url(/pc/resource/images/sub/as_icon03_on.png);}
.as-box .as-info-box ul li.on:nth-child(4) {background-image: url(/pc/resource/images/sub/as_icon04_on.png);}
.as-box .as-info-box ul li.on:nth-child(5) {background-image: url(/pc/resource/images/sub/as_icon05_on.png);}
.as-box .as-info-box ul li:nth-child(6) {background-image: url(/pc/resource/images/sub/as_icon05.png); margin-right: 0;}
.as-box .as-info-box ul li.on:nth-child(6) {background-image: url(/pc/resource/images/sub/as_icon05_on.png); margin-right: 0;}
.as-box .as-info-box ul li.repair_cost .cost__charge {margin-bottom: -20px; text-align: center;	}
.as-box .as-info-box ul li.repair_cost .cost__charge .cost__btn {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 6px auto 0;
	font-size: 14px;
	font-weight: 700;
	color: rgb(0,0,0);
	background-color: rgb(255,255,255);
	width: 90px;
	height: 30px;
	border-radius: 5px;
}

.odr-txt_none {
	padding: 120px 0;
	font-size: 18px;
	text-align: center;
}
.no_contents > p {
	padding: 120px 0;
	font-size: 18px;
	text-align: center;
	.tit__style4 {
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 40px;
    text-align: center;
    color: #00205b;
}

.qna__list {
    border-top: 2px solid #00205b;
    list-style: none;
    padding: 0;
}

.qna-q:hover {
    color: #e21836;
}
/* 답변 상태 디자인 */
.status.waiting {
    background-color: #fff;
    color: #999;
}

.status.complete {
    background-color: #00205b;
    color: #fff;
    border-color: #00205b !important;
}

/* 제목 호버 효과 */
.qna-q:hover {
    background-color: #f9f9f9;
}

.qna-q:hover span {
    color: #e21836;
}
}